In [1]:
import sys
sys.path.append("../")
sys.path.append("../../../")

In [2]:
from features import build_features
from sklearn.model_selection import train_test_split
import pandas
import pickle
import os
from text_classification import text_encoding

Defining constants

In [3]:
DATA_PATH = "../data"

Loading raw dataset

In [4]:
applications = pickle.load(open(os.path.join(DATA_PATH, "compressed_data/category_dataset.pkl"), mode='rb'))

In [5]:
applications

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

Splitting dataset

In [7]:
X, Y = applications.drop(columns=['category']), applications['category']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
x_test, x_validation, y_test, y_validation = train_test_split(x_train, y_train, test_size=0.4)

training_set = pandas.concat([x_train, y_train], axis=1)
validation_set = pandas.concat([x_validation, y_validation], axis=1)
testing_set = pandas.concat([x_test, y_test], axis=1)

Detecting anomalies

In [8]:
training_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
ARTS                 0
ARTS & CULTURE       0
BLACK VOICES         0
BUSINESS             0
COLLEGE              0
COMEDY               0
CRIME                0
CULTURE & ARTS       0
DIVORCE              0
EDUCATION            0
ENTERTAINMENT        0
ENVIRONMENT          0
FIFTY                0
FOOD & DRINK         0
GOOD NEWS            0
GREEN                0
HEALTHY LIVING       0
HOME & LIVING        0
IMPACT               0
LATINO VOICES        0
MEDIA                0
MONEY                0
PARENTING            0
PARENTS              0
POLITICS             0
QUEER VOICES         0
RELIGION             0
SCIENCE              0
SPORTS               0
STYLE                0
STYLE & BEAUTY       0
TASTE                0
TECH                 0
THE WORLDPOST        0
TRAVEL               0
U.S. NEWS            0
WEDDINGS             0
WEIRD NEWS           0
WELLNESS             0
WOMEN                0
WORLD NEWS           0
WORLDPOST            0
category             0
dtype: int64

In [9]:
validation_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
ARTS                 0
ARTS & CULTURE       0
BLACK VOICES         0
BUSINESS             0
COLLEGE              0
COMEDY               0
CRIME                0
CULTURE & ARTS       0
DIVORCE              0
EDUCATION            0
ENTERTAINMENT        0
ENVIRONMENT          0
FIFTY                0
FOOD & DRINK         0
GOOD NEWS            0
GREEN                0
HEALTHY LIVING       0
HOME & LIVING        0
IMPACT               0
LATINO VOICES        0
MEDIA                0
MONEY                0
PARENTING            0
PARENTS              0
POLITICS             0
QUEER VOICES         0
RELIGION             0
SCIENCE              0
SPORTS               0
STYLE                0
STYLE & BEAUTY       0
TASTE                0
TECH                 0
THE WORLDPOST        0
TRAVEL               0
U.S. NEWS            0
WEDDINGS             0
WEIRD NEWS           0
WELLNESS             0
WOMEN                0
WORLD NEWS           0
WORLDPOST            0
category             0
dtype: int64

In [10]:
testing_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
ARTS                 0
ARTS & CULTURE       0
BLACK VOICES         0
BUSINESS             0
COLLEGE              0
COMEDY               0
CRIME                0
CULTURE & ARTS       0
DIVORCE              0
EDUCATION            0
ENTERTAINMENT        0
ENVIRONMENT          0
FIFTY                0
FOOD & DRINK         0
GOOD NEWS            0
GREEN                0
HEALTHY LIVING       0
HOME & LIVING        0
IMPACT               0
LATINO VOICES        0
MEDIA                0
MONEY                0
PARENTING            0
PARENTS              0
POLITICS             0
QUEER VOICES         0
RELIGION             0
SCIENCE              0
SPORTS               0
STYLE                0
STYLE & BEAUTY       0
TASTE                0
TECH                 0
THE WORLDPOST        0
TRAVEL               0
U.S. NEWS            0
WEDDINGS             0
WEIRD NEWS           0
WELLNESS             0
WOMEN                0
WORLD NEWS           0
WORLDPOST            0
category             0
dtype: int64

Building Features

In [11]:
training_set = build_features.build_features(training_set)
validation_set = build_features.build_features(validation_set)
testing_set = build_features.build_features(testing_set)

Encoding training set using TF IDF Vectors

In [15]:
training_categories = training_set['category'].unique()
encoder = text_encoding.TFIDFVectorizedDataset(training_set)

for category in training_categories:
    encoder.encode_categorical_documents(category=category)
    print('encoded category: %s' % category)
training_set = encoder.get_dataframe()

encoded category: WORLDPOST
encoded category: COMEDY
encoded category: STYLE & BEAUTY
encoded category: WELLNESS
encoded category: SCIENCE
encoded category: POLITICS
encoded category: SPORTS
encoded category: DIVORCE
encoded category: PARENTING
encoded category: HEALTHY LIVING
encoded category: STYLE
encoded category: BUSINESS
encoded category: ENTERTAINMENT
encoded category: RELIGION
encoded category: QUEER VOICES
encoded category: WEIRD NEWS
encoded category: TECH
encoded category: TRAVEL
encoded category: WOMEN
encoded category: PARENTS
encoded category: U.S. NEWS
encoded category: WORLD NEWS
encoded category: THE WORLDPOST
encoded category: CULTURE & ARTS
encoded category: IMPACT
encoded category: HOME & LIVING
encoded category: FOOD & DRINK
encoded category: TASTE
encoded category: CRIME
encoded category: FIFTY
encoded category: GOOD NEWS
encoded category: ARTS & CULTURE
encoded category: WEDDINGS
encoded category: BLACK VOICES
encoded category: EDUCATION
encoded category: MEDIA
encoded category: GREEN
encoded category: ENVIRONMENT
encoded category: MONEY
encoded category: LATINO VOICES
encoded category: ARTS
encoded category: COLLEGE

Encoding testing set using TF/IDF Vectors

In [16]:
testing_categories = testing_set['category'].unique()
encoder = text_encoding.TFIDFVectorizedDataset(testing_set)

for category in testing_categories:
    encoder.encode_categorical_documents(category=category)
    print('encoded category: %s' % category)
testing_set = encoder.get_dataframe()

encoded category: SCIENCE
encoded category: POLITICS
encoded category: STYLE & BEAUTY
encoded category: DIVORCE
encoded category: TASTE
encoded category: ARTS
encoded category: WOMEN
encoded category: ENTERTAINMENT
encoded category: WELLNESS
encoded category: RELIGION
encoded category: CRIME
encoded category: FOOD & DRINK
encoded category: TRAVEL
encoded category: HEALTHY LIVING
encoded category: WORLD NEWS
encoded category: PARENTING
encoded category: COMEDY
encoded category: BUSINESS
encoded category: QUEER VOICES
encoded category: IMPACT
encoded category: COLLEGE
encoded category: BLACK VOICES
encoded category: ENVIRONMENT
encoded category: SPORTS
encoded category: HOME & LIVING
encoded category: GREEN
encoded category: WEDDINGS
encoded category: FIFTY
encoded category: WORLDPOST
encoded category: STYLE
encoded category: MONEY
encoded category: PARENTS
encoded category: THE WORLDPOST
encoded category: LATINO VOICES
encoded category: WEIRD NEWS
encoded category: GOOD NEWS
encoded category: U.S. NEWS
encoded category: MEDIA
encoded category: EDUCATION
encoded category: TECH
encoded category: ARTS & CULTURE
encoded category: CULTURE & ARTS

Encoding validation set using TF/IDF Vectors

In [17]:
validation_categories = validation_set['category'].unique()
encoder = text_encoding.TFIDFVectorizedDataset(validation_set)

for category in testing_categories:
    encoder.encode_categorical_documents(category=category)
    print('encoded category: %s' % category)
validation_set = encoder.get_dataframe()

encoded category: SCIENCE
encoded category: POLITICS
encoded category: STYLE & BEAUTY
encoded category: DIVORCE
encoded category: TASTE
encoded category: ARTS
encoded category: WOMEN
encoded category: ENTERTAINMENT
encoded category: WELLNESS
encoded category: RELIGION
encoded category: CRIME
encoded category: FOOD & DRINK
encoded category: TRAVEL
encoded category: HEALTHY LIVING
encoded category: WORLD NEWS
encoded category: PARENTING
encoded category: COMEDY
encoded category: BUSINESS
encoded category: QUEER VOICES
encoded category: IMPACT
encoded category: COLLEGE
encoded category: BLACK VOICES
encoded category: ENVIRONMENT
encoded category: SPORTS
encoded category: HOME & LIVING
encoded category: GREEN
encoded category: WEDDINGS
encoded category: FIFTY
encoded category: WORLDPOST
encoded category: STYLE
encoded category: MONEY
encoded category: PARENTS
encoded category: THE WORLDPOST
encoded category: LATINO VOICES
encoded category: WEIRD NEWS
encoded category: GOOD NEWS
encoded category: U.S. NEWS
encoded category: MEDIA
encoded category: EDUCATION
encoded category: TECH
encoded category: ARTS & CULTURE
encoded category: CULTURE & ARTS

Removing redundant features

In [18]:
for dataset in [training_set, validation_set, testing_set]:
    dataset.drop(
        columns=[
            "link",
            "authors",
            "date",
            "label",
            "category",
        ],
        inplace=True
    )

Visualizing datasets

In [19]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146668 entries, 0 to 146667
Data columns (total 90 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ARTS                     146668 non-null  bool
 1   ARTS & CULTURE           146668 non-null  bool
 2   BLACK VOICES             146668 non-null  bool
 3   BUSINESS                 146668 non-null  bool
 4   COLLEGE                  146668 non-null  bool
 5   COMEDY                   146668 non-null  bool
 6   CRIME                    146668 non-null  bool
 7   CULTURE & ARTS           146668 non-null  bool
 8   DIVORCE                  146668 non-null  bool
 9   EDUCATION                146668 non-null  bool
 10  ENTERTAINMENT            146668 non-null  bool
 11  ENVIRONMENT              146668 non-null  bool
 12  FIFTY                    146668 non-null  bool
 13  FOOD & DRINK             146668 non-null  bool
 14  GOOD NEWS                146668 non-null  bool
 15  GREEN                    146668 non-null  bool
 16  HEALTHY LIVING           146668 non-null  bool
 17  HOME & LIVING            146668 non-null  bool
 18  IMPACT                   146668 non-null  bool
 19  LATINO VOICES            146668 non-null  bool
 20  MEDIA                    146668 non-null  bool
 21  MONEY                    146668 non-null  bool
 22  PARENTING                146668 non-null  bool
 23  PARENTS                  146668 non-null  bool
 24  POLITICS                 146668 non-null  bool
 25  QUEER VOICES             146668 non-null  bool
 26  RELIGION                 146668 non-null  bool
 27  SCIENCE                  146668 non-null  bool
 28  SPORTS                   146668 non-null  bool
 29  STYLE                    146668 non-null  bool
 30  STYLE & BEAUTY           146668 non-null  bool
 31  TASTE                    146668 non-null  bool
 32  TECH                     146668 non-null  bool
 33  THE WORLDPOST            146668 non-null  bool
 34  TRAVEL                   146668 non-null  bool
 35  U.S. NEWS                146668 non-null  bool
 36  WEDDINGS                 146668 non-null  bool
 37  WEIRD NEWS               146668 non-null  bool
 38  WELLNESS                 146668 non-null  bool
 39  WOMEN                    146668 non-null  bool
 40  WORLD NEWS               146668 non-null  bool
 41  WORLDPOST                146668 non-null  bool
 42  headline_len             146668 non-null  int64
 43  description_len          146668 non-null  int64
 44  average_headline_len     146668 non-null  float64
 45  average_description_len  146668 non-null  float64
 46  weekday                  146668 non-null  int64
 47  popular_weekday          146668 non-null  int64
 48  world                    1790 non-null    object
 49  colbert                  3785 non-null    object
 50  beauty                   6952 non-null    object
 51  health                   12560 non-null   object
 52  earth                    1523 non-null    object
 53  donald                   24950 non-null   object
 54  game                     3521 non-null    object
 55  divorce                  2363 non-null    object
 56  baby                     6171 non-null    object
 57  health                   4681 non-null    object
 58  best                     1593 non-null    object
 59  business                 4167 non-null    object
 60  new                      12201 non-null   object
 61  church                   1791 non-null    object
 62  gay                      4402 non-null    object
 63  man                      1925 non-null    object
 64  apple                    1483 non-null    object
 65  best                     7044 non-null    object
 66  just                     2481 non-null    object
 67  baby                     2744 non-null    object
 68  california               951 non-null     object
 69  new                      2327 non-null    object
 70  attack                   2533 non-null    object
 71  art                      747 non-null     object
 72  day                      2448 non-null    object
 73  day                      3003 non-null    object
 74  best                     4459 non-null    object
 75  best                     1478 non-null    object
 76  allegedly                2498 non-null    object
 77  age                      975 non-null     object
 78  dog                      977 non-null     object
 79  art                      953 non-null     object
 80  bride                    2492 non-null    object
 81  black                    3183 non-null    object
 82  children                 693 non-null     object
 83  donald                   2104 non-null    object
 84  change                   1817 non-null    object
 85  animal                   1004 non-null    object
 86  credit                   1225 non-null    object
 87  latino                   809 non-null     object
 88  art                      1050 non-null    object
 89  campus                   815 non-null     object
dtypes: bool(42), float64(2), int64(4), object(42)
memory usage: 59.6+ MB

In [20]:
validation_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58668 entries, 0 to 58667
Data columns (total 90 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ARTS                     58668 non-null  bool
 1   ARTS & CULTURE           58668 non-null  bool
 2   BLACK VOICES             58668 non-null  bool
 3   BUSINESS                 58668 non-null  bool
 4   COLLEGE                  58668 non-null  bool
 5   COMEDY                   58668 non-null  bool
 6   CRIME                    58668 non-null  bool
 7   CULTURE & ARTS           58668 non-null  bool
 8   DIVORCE                  58668 non-null  bool
 9   EDUCATION                58668 non-null  bool
 10  ENTERTAINMENT            58668 non-null  bool
 11  ENVIRONMENT              58668 non-null  bool
 12  FIFTY                    58668 non-null  bool
 13  FOOD & DRINK             58668 non-null  bool
 14  GOOD NEWS                58668 non-null  bool
 15  GREEN                    58668 non-null  bool
 16  HEALTHY LIVING           58668 non-null  bool
 17  HOME & LIVING            58668 non-null  bool
 18  IMPACT                   58668 non-null  bool
 19  LATINO VOICES            58668 non-null  bool
 20  MEDIA                    58668 non-null  bool
 21  MONEY                    58668 non-null  bool
 22  PARENTING                58668 non-null  bool
 23  PARENTS                  58668 non-null  bool
 24  POLITICS                 58668 non-null  bool
 25  QUEER VOICES             58668 non-null  bool
 26  RELIGION                 58668 non-null  bool
 27  SCIENCE                  58668 non-null  bool
 28  SPORTS                   58668 non-null  bool
 29  STYLE                    58668 non-null  bool
 30  STYLE & BEAUTY           58668 non-null  bool
 31  TASTE                    58668 non-null  bool
 32  TECH                     58668 non-null  bool
 33  THE WORLDPOST            58668 non-null  bool
 34  TRAVEL                   58668 non-null  bool
 35  U.S. NEWS                58668 non-null  bool
 36  WEDDINGS                 58668 non-null  bool
 37  WEIRD NEWS               58668 non-null  bool
 38  WELLNESS                 58668 non-null  bool
 39  WOMEN                    58668 non-null  bool
 40  WORLD NEWS               58668 non-null  bool
 41  WORLDPOST                58668 non-null  bool
 42  headline_len             58668 non-null  int64
 43  description_len          58668 non-null  int64
 44  average_headline_len     58668 non-null  float64
 45  average_description_len  58668 non-null  float64
 46  weekday                  58668 non-null  int64
 47  popular_weekday          58668 non-null  object
 48  earth                    595 non-null    object
 49  donald                   9974 non-null   object
 50  beauty                   2771 non-null   object
 51  divorce                  981 non-null    object
 52  delicious                578 non-null    object
 53  art                      426 non-null    object
 54  just                     1009 non-null   object
 55  new                      4828 non-null   object
 56  health                   5023 non-null   object
 57  francis                  709 non-null    object
 58  allegedly                1019 non-null   object
 59  best                     1809 non-null   object
 60  best                     2835 non-null   object
 61  health                   1893 non-null   object
 62  new                      933 non-null    object
 63  baby                     2475 non-null   object
 64  colbert                  1537 non-null   object
 65  business                 1656 non-null   object
 66  gay                      1734 non-null   object
 67  day                      979 non-null    object
 68  campus                   343 non-null    object
 69  black                    1226 non-null   object
 70  animal                   384 non-null    object
 71  game                     1410 non-null   object
 72  day                      1193 non-null   object
 73  change                   712 non-null    object
 74  bride                    996 non-null    object
 75  age                      401 non-null    object
 76  world                    702 non-null    object
 77  best                     624 non-null    object
 78  credit                   497 non-null    object
 79  baby                     1118 non-null   object
 80  attack                   1005 non-null   object
 81  latino                   322 non-null    object
 82  man                      779 non-null    object
 83  dog                      369 non-null    object
 84  new                      401 non-null    object
 85  donald                   855 non-null    object
 86  college                  275 non-null    object
 87  apple                    559 non-null    object
 88  art                      416 non-null    object
 89  art                      317 non-null    object
dtypes: bool(42), float64(2), int64(3), object(43)
memory usage: 23.8+ MB

In [21]:
testing_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88000 entries, 0 to 87999
Data columns (total 90 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ARTS                     88000 non-null  bool
 1   ARTS & CULTURE           88000 non-null  bool
 2   BLACK VOICES             88000 non-null  bool
 3   BUSINESS                 88000 non-null  bool
 4   COLLEGE                  88000 non-null  bool
 5   COMEDY                   88000 non-null  bool
 6   CRIME                    88000 non-null  bool
 7   CULTURE & ARTS           88000 non-null  bool
 8   DIVORCE                  88000 non-null  bool
 9   EDUCATION                88000 non-null  bool
 10  ENTERTAINMENT            88000 non-null  bool
 11  ENVIRONMENT              88000 non-null  bool
 12  FIFTY                    88000 non-null  bool
 13  FOOD & DRINK             88000 non-null  bool
 14  GOOD NEWS                88000 non-null  bool
 15  GREEN                    88000 non-null  bool
 16  HEALTHY LIVING           88000 non-null  bool
 17  HOME & LIVING            88000 non-null  bool
 18  IMPACT                   88000 non-null  bool
 19  LATINO VOICES            88000 non-null  bool
 20  MEDIA                    88000 non-null  bool
 21  MONEY                    88000 non-null  bool
 22  PARENTING                88000 non-null  bool
 23  PARENTS                  88000 non-null  bool
 24  POLITICS                 88000 non-null  bool
 25  QUEER VOICES             88000 non-null  bool
 26  RELIGION                 88000 non-null  bool
 27  SCIENCE                  88000 non-null  bool
 28  SPORTS                   88000 non-null  bool
 29  STYLE                    88000 non-null  bool
 30  STYLE & BEAUTY           88000 non-null  bool
 31  TASTE                    88000 non-null  bool
 32  TECH                     88000 non-null  bool
 33  THE WORLDPOST            88000 non-null  bool
 34  TRAVEL                   88000 non-null  bool
 35  U.S. NEWS                88000 non-null  bool
 36  WEDDINGS                 88000 non-null  bool
 37  WEIRD NEWS               88000 non-null  bool
 38  WELLNESS                 88000 non-null  bool
 39  WOMEN                    88000 non-null  bool
 40  WORLD NEWS               88000 non-null  bool
 41  WORLDPOST                88000 non-null  bool
 42  headline_len             88000 non-null  int64
 43  description_len          88000 non-null  int64
 44  average_headline_len     88000 non-null  float64
 45  average_description_len  88000 non-null  float64
 46  weekday                  88000 non-null  int64
 47  popular_weekday          88000 non-null  object
 48  nasa                     928 non-null    object
 49  donald                   14976 non-null  object
 50  beauty                   4181 non-null   object
 51  divorce                  1382 non-null   object
 52  best                     900 non-null    object
 53  art                      624 non-null    object
 54  like                     1472 non-null   object
 55  new                      7373 non-null   object
 56  day                      7537 non-null   object
 57  church                   1082 non-null   object
 58  killed                   1479 non-null   object
 59  best                     2650 non-null   object
 60  best                     4209 non-null   object
 61  health                   2788 non-null   object
 62  korea                    1394 non-null   object
 63  baby                     3696 non-null   object
 64  colbert                  2248 non-null   object
 65  business                 2511 non-null   object
 66  gay                      2668 non-null   object
 67  day                      1469 non-null   object
 68  campus                   472 non-null    object
 69  black                    1957 non-null   object
 70  animal                   620 non-null    object
 71  game                     2111 non-null   object
 72  day                      1810 non-null   object
 73  change                   1105 non-null   object
 74  bride                    1496 non-null   object
 75  age                      574 non-null    object
 76  world                    1088 non-null   object
 77  best                     969 non-null    object
 78  credit                   728 non-null    object
 79  baby                     1626 non-null   object
 80  attack                   1528 non-null   object
 81  just                     487 non-null    object
 82  man                      1146 non-null   object
 83  dog                      608 non-null    object
 84  california               550 non-null    object
 85  donald                   1249 non-null   object
 86  children                 418 non-null    object
 87  apple                    924 non-null    object
 88  art                      537 non-null    object
 89  art                      430 non-null    object
dtypes: bool(42), float64(2), int64(3), object(43)
memory usage: 35.8+ MB

In [24]:
import numpy

def set_datatypes(dataset: pandas.DataFrame):
    """
    Function sets appropriate datatypes 
    for the dataset fields
    """
    dataset['average_headline_len'] = dataset['average_headline_len'].astype(numpy.float16)
    dataset['average_description_len'] = dataset['average_description_len'].astype(numpy.float16)
    dataset['headline_len'] = dataset['headline_len'].astype(numpy.int16)
    dataset['description_len'] = dataset['description_len'].astype(numpy.int16)

set_datatypes(training_set)
set_datatypes(validation_set)
set_datatypes(testing_set)

Saving datasets

In [25]:
training_set.to_csv(os.path.join(DATA_PATH, 'processed_data/training_set.csv'))
validation_set.to_csv(os.path.join(DATA_PATH, 'processed_data/validation_set.csv'))
testing_set.to_csv(os.path.join(DATA_PATH, 'processed_data/testing_set.csv'))