In [1]:
import sys
sys.path.append("../")
sys.path.append("../../../")

In [2]:
from features import build_features
import seaborn as sns
from sklearn.model_selection import train_test_split
import pandas
import pickle
import os
from text_classification import text

Defining constants

In [3]:
DATA_PATH = "../data"

Loading raw dataset

In [4]:
applications = pickle.load(open(os.path.join(DATA_PATH, "compressed_data/category_dataset.pkl"), mode='rb'))

In [5]:
applications

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

Splitting dataset

In [6]:
X, Y = applications.drop(columns=['category']), applications['category']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
x_test, x_validation, y_test, y_validation = train_test_split(x_train, y_train, test_size=0.4)

training_set = pandas.concat([x_train, y_train], axis=1)
validation_set = pandas.concat([x_validation, y_validation], axis=1)
testing_set = pandas.concat([x_test, y_test], axis=1)

Detecting anomalies

In [7]:
training_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
category             0
dtype: int64

In [8]:
validation_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
category             0
dtype: int64

In [9]:
testing_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
category             0
dtype: int64

Building Features

In [10]:
training_set = build_features.build_features(training_set)
validation_set = build_features.build_features(validation_set)
testing_set = build_features.build_features(testing_set)

In [11]:
training_set

,link,headline,short_description,authors,date,category,headline_len,description_len,average_headline_len,average_description_len,weekday,popular_weekday
0,https://www.huffingtonpost.com/entry/violence-...,Violence Flares Near U.S. Embassy In Beirut Ov...,Lebanese security forces fired tear gas and wa...,"Jeffrey Heller, Reuters",2017-12-10,WORLD NEWS,11,15,10.307726,16.649115,6,1
1,https://www.huffingtonpost.com/entry/london-br...,London Attack Sparks Arrests And Vows For New ...,"""Enough is enough,"" British Prime Minister The...","Eline Gordts, Sebastian Murdock, Nick Robins-E...",2017-06-03,WORLD NEWS,11,9,10.307726,16.649115,5,1
2,https://www.huffingtonpost.com/entry/taiwan-pa...,Brawl Breaks Out In Taiwanese Parliament As La...,Who among us hasn't gotten in a fistfight over...,Jesselyn Cook,2017-07-15,WORLD NEWS,13,11,10.307726,16.649115,5,1
3,https://www.huffingtonpost.com/entry/rabbit-br...,Venezuela Tells Citizens To Beat Hunger By Bre...,â€œThere is a cultural problem because we have b...,,2017-09-14,WORLD NEWS,9,20,10.307726,16.649115,3,1
4,https://www.huffpost.com/entry/iran-executes-w...,Iran Executes 27-Year-Old Wrestler After Trump...,Navid Afkari was accused of killing a man at a...,"Amir Vahdat, AP",2020-09-12,WORLD NEWS,9,18,10.307726,16.649115,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
146663,https://www.huffingtonpost.com/entry/boys-dama...,Boys Damage Norwayâ€™s Most Famous Stone-Age Art...,ðŸ˜¬ ðŸ˜¬ ðŸ˜¬ ðŸ˜¬ ðŸ˜¬,"Sarah Cascone, artnet News",2016-08-05,ARTS & CULTURE,14,13,10.610097,12.607948,4,1
146664,https://www.huffingtonpost.com/entry/elizabeth...,The Bottom Line: 'The History Of Great Things'...,"Elizabeth Craneâ€™s novel ""The History of Great ...",Maddie Crum,2016-04-08,ARTS & CULTURE,11,16,10.610097,12.607948,4,1
146665,https://www.huffingtonpost.com/entry/nidda-bad...,A Palestinian Woman Spent 20 Straight Months I...,"Nidaa Badwan's photo series ""100 Days of Solit...",Priscilla Frank,2016-10-18,ARTS & CULTURE,12,18,10.610097,12.607948,1,1
146666,https://www.huffingtonpost.com/entry/meat-lovi...,"To All The Meat-Loving Feminists Of The World,...","""Itâ€™s time to get loud, stuff your facehole & ...",Priscilla Frank,2015-08-06,ARTS & CULTURE,12,14,10.610097,12.607948,3,1
146667,https://www.huffingtonpost.com/entry/broadway-...,An Adaptation Of George Orwell's '1984' Is Com...,If you have a thing for eerily relevant dystop...,Priscilla Frank,2017-02-03,ARTS & CULTURE,10,16,10.610097,12.607948,4,1

Saving datasets

In [12]:
training_set.to_csv(os.path.join(DATA_PATH, 'processed_data/training_set.csv'))
validation_set.to_csv(os.path.join(DATA_PATH, 'processed_data/validation_set.csv'))
testing_set.to_csv(os.path.join(DATA_PATH, 'processed_data/testing_set.csv'))