In [1]:
import sys
sys.path.append("../")
sys.path.append("../../../")

In [2]:
from features import build_features
from sklearn.model_selection import train_test_split
import pandas
import pickle
import os
from encoders import encoding

Defining constants

In [3]:
DATA_PATH = "../data"

Loading raw dataset

In [4]:
applications = pickle.load(open(os.path.join(DATA_PATH, "compressed_data/category_dataset.pkl"), mode='rb'))

In [5]:
applications

,link,headline,category,short_description,authors,date,year
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,u.s. news,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,2022
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",u.s. news,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23,2022
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,comedy,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23,2022
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,parenting,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23,2022
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,u.s. news,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22,2022
...,...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,science & tech,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28,2012
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,sports,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28,2012
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",sports,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28,2012
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,sports,CORRECTION: An earlier version of this story i...,,2012-01-28,2012
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,sports,The five-time all-star center tore into his te...,,2012-01-28,2012

Splitting dataset

In [6]:
X, Y = applications.drop(columns=['category']), applications['category']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
x_test, x_validation, y_test, y_validation = train_test_split(x_train, y_train, test_size=0.4)

training_set = pandas.concat([x_train, y_train], axis=1)
validation_set = pandas.concat([x_validation, y_validation], axis=1)
testing_set = pandas.concat([x_test, y_test], axis=1)

Detecting anomalies

In [7]:
training_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
year                 0
category             0
dtype: int64

In [8]:
validation_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
year                 0
category             0
dtype: int64

In [9]:
testing_set.isna().sum()

link                 0
headline             0
short_description    0
authors              0
date                 0
year                 0
category             0
dtype: int64

Building Features

In [10]:
training_set = build_features.build_features(training_set)
validation_set = build_features.build_features(validation_set)
testing_set = build_features.build_features(testing_set)

Encoding Datasets

In [11]:
encoder = encoding.DatasetEncoder() 

training_set = encoder.encode_dataset(training_set)
validation_set = encoder.encode_dataset(validation_set)
testing_set = encoder.encode_dataset(testing_set)

In [12]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146668 entries, 0 to 146667
Columns: 199 entries, date to year
dtypes: datetime64[ns](1), float64(192), int32(1), int64(4), int8(1)
memory usage: 221.1 MB

In [13]:
training_set

,date,year,headline_len,description_len,average_headline_len,average_description_len,weekday,popular_weekday,category,health,...,said,year,credit,financial,money,new,people,tax,time,year
0,2012-10-01,2012,14,57,8.131293,30.998953,0,2,13,0.0,...,0.650768,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014-04-11,2014,4,24,8.131293,30.998953,4,2,13,0.0,...,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2013-01-23,2013,14,36,8.131293,30.998953,2,2,13,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-04-10,2014,7,22,8.131293,30.998953,3,2,13,0.0,...,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,2012-11-18,2012,8,21,8.131293,30.998953,6,2,13,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146663,2012-06-07,2012,10,23,9.405724,26.875421,3,2,22,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146664,2012-11-23,2012,11,20,9.405724,26.875421,4,2,22,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146665,2019-04-03,2019,12,9,9.405724,26.875421,2,2,22,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146666,2012-04-10,2012,5,39,9.405724,26.875421,1,2,22,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146667,2012-07-09,2012,10,19,9.405724,26.875421,0,2,22,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
validation_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58668 entries, 0 to 58667
Columns: 202 entries, date to man
dtypes: datetime64[ns](1), float64(196), int32(1), int64(3), int8(1)
memory usage: 89.8 MB

In [15]:
validation_set

,date,year,headline_len,description_len,average_headline_len,average_description_len,weekday,category,black,gay,...,climate,climate change,new,photos,photos week,video,weather,week,world,man
0,2015-02-23,2015,13,1,10.440131,18.048373,0,18,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
1,2017-01-26,2017,13,20,10.440131,18.048373,3,18,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,1.0,0.0
2,2014-11-28,2014,6,1,10.440131,18.048373,4,18,1.0,0.0,...,0.000000,0.000000,0.347661,0.314188,0.39278,0.0,0.0,0.690756,0.0,0.0
3,2017-04-06,2017,12,15,10.440131,18.048373,3,18,0.0,0.0,...,0.505023,0.584122,0.000000,0.000000,0.00000,0.0,0.0,0.270000,0.0,0.0
4,2013-04-28,2013,6,22,10.440131,18.048373,6,18,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58663,2018-02-02,2018,12,15,9.882740,8.927536,4,9,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
58664,2015-08-18,2015,15,6,9.882740,8.927536,1,9,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
58665,2015-10-19,2015,10,5,9.882740,8.927536,0,9,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
58666,2016-12-19,2016,10,2,9.882740,8.927536,0,9,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0
58667,2016-12-14,2016,9,5,9.882740,8.927536,2,9,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.0,0.0

In [16]:
testing_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88000 entries, 0 to 87999
Columns: 198 entries, date to year
dtypes: datetime64[ns](1), float64(192), int32(1), int64(3), int8(1)
memory usage: 132.0 MB

In [17]:
testing_set

,date,year,headline_len,description_len,average_headline_len,average_description_len,weekday,category,just,man,...,religious,credit,don,financial,money,new,people,tax,time,year
0,2018-03-26,2018,12,5,9.853470,8.680377,0,9,1.0,0.0,...,1.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
1,2016-03-01,2016,10,8,9.853470,8.680377,1,9,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2016-08-03,2016,11,8,9.853470,8.680377,2,9,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,1.0,0.0,0.0,0.0
3,2015-11-26,2015,9,11,9.853470,8.680377,3,9,0.0,0.0,...,0.404809,0.0,0.0,0.76106,0.648682,0.0,0.0,0.0,0.0,0.0
4,2016-10-07,2016,15,4,9.853470,8.680377,4,9,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87995,2012-12-04,2012,14,22,9.371467,27.137281,1,22,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
87996,2012-03-22,2012,12,21,9.371467,27.137281,3,22,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
87997,2014-02-11,2014,5,34,9.371467,27.137281,1,22,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
87998,2012-11-12,2012,6,37,9.371467,27.137281,0,22,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0
87999,2012-03-01,2012,7,34,9.371467,27.137281,3,22,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0

Removing redundant features

In [18]:
for dataset in [training_set, validation_set, testing_set]:
    dataset.drop(
        columns=[
            "date",
            "year",
        ],
        inplace=True
    )

Visualizing datasets

In [19]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146668 entries, 0 to 146667
Columns: 191 entries, headline_len to time
dtypes: float64(186), int64(4), int8(1)
memory usage: 212.7 MB

In [20]:
validation_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58668 entries, 0 to 58667
Columns: 195 entries, headline_len to man
dtypes: float64(191), int64(3), int8(1)
memory usage: 86.9 MB

In [21]:
testing_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88000 entries, 0 to 87999
Columns: 191 entries, headline_len to time
dtypes: float64(187), int64(3), int8(1)
memory usage: 127.6 MB

In [22]:
import numpy

def set_datatypes(dataset: pandas.DataFrame):
    """
    Function sets appropriate datatypes 
    for the dataset fields
    """
    dataset['average_headline_len'] = dataset['average_headline_len'].astype(numpy.float16)
    dataset['average_description_len'] = dataset['average_description_len'].astype(numpy.float16)
    dataset['headline_len'] = dataset['headline_len'].astype(numpy.int16)
    dataset['description_len'] = dataset['description_len'].astype(numpy.int16)

set_datatypes(training_set)
set_datatypes(validation_set)
set_datatypes(testing_set)

Saving datasets

In [23]:
training_set.to_csv(os.path.join(DATA_PATH, 'processed_data/training_set.csv'))
validation_set.to_csv(os.path.join(DATA_PATH, 'processed_data/validation_set.csv'))
testing_set.to_csv(os.path.join(DATA_PATH, 'processed_data/testing_set.csv'))